<form ng-submit="vm.submit()">

    <div>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="vm.name">
    </md-input-container>
    </div>
    <div>
    <md-input-container>
        <label>Topic</label>
        <input type="text" ng-model="vm.topic">
    </md-input-container>
    </div>

    <md-button type="submit" class="md-primary md-raised">Create post</md-button>

</form>
<hr/>
<div ng-if="!vm.posts.length">
    <p>No data</p>
</div>
<table ng-if="vm.posts.length" class="post-block" ng-repeat="post in vm.posts">
    <body>
        <tr>
            <td class="post-info"></td>
            <td class="post-btn">
                <span class="delete-btn" ng-click="vm.deletePost(post.id)">X</span>
            </td>
        </tr>
        <tr>
            <td class="post-info">
                <b>{{ post.name }}</b>
                <p>{{ post.topic }}</p>
            </td>
            <td class="post-btn"></td>
        </tr>
    </body>
</table>